<div class="topic-card">
    <div class="topic-header">Template Driven Forms</div>
    <div class="topic-content">

        <h4 class="mb-3">User Registration Form</h4>
        <form>
            <!-- NAME -->
            <div class="form-group row">
                <div class="col-2"> 
                    <label class="control-label">Name:</label>
                </div>                
                <div class="col-9">
                    <input class="form-control"
                        type="text"
                        autocomplete="off"
                        placeholder="Enter your name">
                </div>
            </div>

            <!-- EMAIL -->
            <div class="form-group row">
                <div class="col-2"> 
                    <label class="control-label">Email:</label>
                </div>                
                <div class="col-9">
                    <input class="form-control"
                        type="text"
                        autocomplete="off"
                        placeholder="Enter your email address">
                </div>
            </div>

            <!-- COMPANY -->
            <div class="form-group row">
                <div class="col-2"> 
                    <label class="control-label">Company:</label>
                </div>                
                <div class="col-9">
                    <input class="form-control"
                        type="text"
                        autocomplete="off"
                        placeholder="Enter your company name">
                </div>
            </div>

            <!-- AGE -->
            <div class="form-group row">
                <div class="col-2"> 
                    <label class="control-label">Age:</label>
                </div>                
                <div class="col-9">
                    <input class="form-control"
                        type="number"
                        autocomplete="off"
                        placeholder="Enter your age">
                </div>
            </div>

            <!-- PHONE -->
            <div class="form-group row">
                <div class="col-2"> 
                    <label class="control-label">Phone:</label>
                </div>                
                <div class="col-9">
                    <input class="form-control"
                        type="text"
                        autocomplete="off"
                        placeholder="Enter your contact number">
                </div>
            </div>    
                        
             <div class="form-group row">
                <!-- LOCATION -->
                <div class="col-2"> 
                    <label class="control-label">Location:</label>
                </div>                
                <div class="col-4">
                    <select class="form-control">
                        <option value="Cavite">Cavite</option>
                        <option value="Laguna">Laguna</option>
                        <option value="Metro Manila">Metro Manila</option>
                    </select>
                </div>
                <!-- GENDER -->
                <div class="col-2"> 
                    <label class="control-label">Gender:</label>
                </div>                
                <div class="col-3 rdb-options">
                    <input class="form-check-input"
                        type="radio"
                        value="male"
                        id="rdbMale"
                        name="gender">
                    <label class="form-check-label rdb-label" for="rdbMale">Male</label>
                    <input class="form-check-input"
                        type="radio"
                        value="female"
                        id="rdbFemale"
                        name="gender">
                    <label class="form-check-label rdb-label" for="rdbFemale">Female</label>
                </div>
            </div>   

            <!-- BUTTONS -->
            <div class="btn-form-container">
                <button class="btn btn-primary btn-form-control">Submit</button>
                <button class="btn btn-warning btn-form-control">Reset</button>
            </div>

        </form>

    </div>
</div>